.community {
	background-color: $theme-color-main-80;
	color: $theme-footer-link;
	margin-bottom: -40px;
	h1, h3 {
		color: $theme-footer-link;
	}
	.community-grid {
		max-width: 1600px;
	}
	.community-grid-box {
		background-color: $theme-footer-link;
		border-radius: 8px;
		color: $theme-color-main;
		h3 {
			color: $theme-color-main;
			font-family: 'muliitalic';
		}
		.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:focus {
			color: $theme-footer-link;
		}
	}
}

.transform-15-deg {
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Safari */
    transform: rotate(15deg);
}

.btn-disabled {
	pointer-events: none;
}




