.community {
	background-color: $link-hover;
	color: $theme-footer-link;
}

.transform-15-deg {
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Safari */
    transform: rotate(15deg);
}



.cummunity-grid-box {
	background-color: $theme-footer-link;
	border-radius: 8px;
}

.btn-disabled {
	pointer-events: none;
}




