// colors
$theme-color-blue-hover: #4a509d;
$theme-footer-bg: #34479B;
$theme-footer-link: #fff;
$profile-bg-hover: #57c1ea;
$res_450:   450px;
$res_600:   600px;
$res_720:   720px;
$res_860:   860px;
$res_1100:  1100px;
$res_1220:  1220px;
$res_1440:  1440px;


// colors
$theme-color-grey: #a3a3a6;
$theme-color-main: #85C559;
$theme-color-main-hover: #A9E580;
$theme-color-special: #56C1E9;
$theme-color-special-hover: #8DD5F0;
$text-color: #4B4B4B;
$warning-color: #FFCC43;

$theme-header-bg: #34479B;
$theme-text-color: #4B4B4B;
$theme-footer-bg: #33383f;
$link-hover: lighten($theme-color-main, 20%);
$theme-main-nav: #4a509d;
$theme-main-nav-link-hover: #85C559;
$disable-text-color: #3b3b3b;
$disable-text-bg: #e8e8e8;
$theme-color-main-80: rgba( $theme-color-main, .8 );
$mobile-indent: 15px;
$icon-color: #85C559;
$my-font-path: "../fonts" !default;
$img-path: "../images" !default;

// amit
$font-size-regular: 27px;
$font-size-base : 27px;
$font-size-h1 : 52px;
$font-size-h2 : 48px;
$font-size-h3 : 38px;
$font-size-smaller: 23px;
$font-size-smallest: 18px;
$gray-l1 : #a3a3a6;