.profile-picture-link .profile-picture {
	height: 72px;
	width: 72px;
	border-radius: 50%;
	object-fit: cover;
}
.profile-picture-link.dropdown-toggle::after {
	display: none;
}

.nav-item .special {
	color: $theme-color-special;
}