.profile-picture-link .profile-picture {
	height: 72px;
	width: 72px;
	border-radius: 50%;
	object-fit: cover;
}
.profile-picture-link.dropdown-toggle::after {
	display: none;
}

.nav-item .theme-main-nav_link {
	border-bottom: 3px solid transparent;
	padding: 16px 0;
    line-height: 1;
	&:hover {
		background-color: transparent;
		color: $theme-color-main !important;
	}
	&.active {
		border-bottom: 3px solid $theme-color-main;
		color: $theme-color-main !important;
	}
}

.nav-item .theme-main-nav_link.special {
	color: $theme-color-special !important;
	&:hover {
		background-color: transparent;
		color: $text-color !important;
	}
	&.active {
		border-bottom: 3px solid $text-color;
		color: $text-color !important;
	}
}