.profile-picture-link .profile-picture {
	height: 72px;
	width: 72px;
	border-radius: 50%;
	object-fit: cover;
}
.profile-picture-link.dropdown-toggle::after {
	display: none;
}

.nav-item .theme-main-nav_link.special {
	color: $theme-color-special !important;
	&:hover {
		background-color: $theme-color-special;
		color: $theme-footer-link !important;
	}
}