.features-list {
	margin: 0;
	padding: 0;
	&.fa-ul.fa-ul-rtl {
		margin-right: 1.14285714em;
		margin-left: 0;
		padding-right: 0;
		.fa-li {
			font-size: 20px !important;
			right: -2.14285714em;
			top: 0.3em;
			left: auto;
		}
	}
	li {
		font-size: $font-size-smaller;
		line-height: 1.5;
	}
}


.features-icons {
	background: url("../images/home/Mask Group 13.png") 50% 15%;
	color: $theme-footer-link;
}












