.lang-services-top {
	background-color: $theme-color-main;
	color: $theme-footer-link;
	h1 {
		color: $theme-footer-link;
	}
}
.lang-services-nav {
	margin: 0;
	padding: 0;
	.nav-item {
		font-size: $font-size-smaller;
		line-height: 1.5;
		
		.nav-link {
			color: $theme-color-special;
			padding: 20px 10px;
			&:hover {
				color: $text-color;
			}
			&.active {
				border-bottom: 3px solid $text-color;
			}
		}
	}
}

.flex-md-equal > * {
	flex: 1;
}

.lang-courses {
	.flex-md-equal {min-height: 600px;}
	.lang-courses-pict {
		background-image: url("../images/language-services/lang-service-courses.png");
		background-position: center;
		background-size: cover;
	}
	.lang-courses-text {
		background-color: $theme-color-special;
		text-align: right;
		h3 {
			font-family: muliregular;
			margin-bottom: 1em;
		}
	}
}

.lang-lectures {
	.flex-md-equal {min-height: 600px;}
	.lang-lectures-pict {
		background-image: url("../images/language-services/lang-service-lectures.png");
		background-position: center;
		background-size: cover;
	}
	.lang-lectures-text {
		background-color: $warning-color;
		text-align: right;
		h3 {
			font-family: muliregular;
			margin-bottom: 1em;
		}
	}
}

.lang-translation {
	.flex-md-equal {min-height: 600px;}
	.lang-translation-pict {
		background-image: url("../images/language-services/lang-service-translation.png");
		background-position: center;
		background-size: cover;
	}
	.lang-translation-text {
		background-color: $theme-color-main;
		text-align: right;
		h3 {
			font-family: muliregular;
			margin-bottom: 1em;
		}
	}
}







