.support-us-top {
	background: url("../images/support-us/support-us-top-bg.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto 250px;
	@include respond-to($desktop) {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 500px;
	}
	.support-us-top-wrap {
		max-width: 1440px;
		padding: 0 15px;
		margin: auto;
		@include respond-to($desktop) {
			padding: 40px 30px;
		}
	}
	.support-us-top-phrase {
		box-shadow: 0 3px 6px $text-color;
		padding: 5px 25px;
		text-align: right;
		background-color: $theme-footer-link;
		font-size: 18px;
		line-height: 1;
		font-weight: bold;
		width: fit-content;
		margin-top: 5px;
		@include respond-to($desktop) {
			font-size: 36px;
		}
		&.support-us-top-phrase-01 {
			margin: auto;
			-ms-transform: rotate(3deg); /* IE 9 */
			-webkit-transform: rotate(3deg); /* Safari */
			transform: rotate(3deg);
			@include respond-to($desktop) {
				margin-right: -15px;
			}
		}
		&.support-us-top-phrase-02 {
			margin: auto;
			margin-top: 5px;
			@include respond-to($desktop) {
				margin-right: 230px;
			}
		}
		&.support-us-top-phrase-03 {
			-ms-transform: rotate(-3deg); /* IE 9 */
			-webkit-transform: rotate(-3deg); /* Safari */
			transform: rotate(-3deg);
		}
	}
}

.support-us-body {
	.support-us-body-wrap {
		max-width: 1440px;
		padding: 20px 15px 0;
		margin: auto;
		@include respond-to($desktop) {
			padding: 40px 30px;
		}
		h1 {
			font-size: 24px;
			line-height: 1.2;
			color: $theme-color-main;
			font-weight: 700;
			font-family: muliregular;
			text-align: right;
			margin-bottom: 10px;
			@include respond-to($desktop) {
				font-size: 48px;
				line-height: 1;
				margin-bottom: 20px;
			}
		}
		h2 {
			font-size: 20px;
			color: $text-color;
			font-weight: 700;
			font-family: muliregular;
			text-align: center;
			@include respond-to($desktop) {
				font-size: 36px;
				text-align: right;
			}
		}
		h3  {
			font-size: 24px;
			line-height: 1.2;
			color: $theme-color-main;
			font-weight: 700;
			font-family: muliregular;
			text-align: right;
			margin-bottom: 20px;
			@include respond-to($desktop) {
				font-size: 30px;
			}
		}
		h4  {
			font-size: 24px;
			line-height: 1.2;
			color: $theme-color-main;
			font-weight: 700;
			font-family: muliregular;
			text-align: right;
			@include respond-to($desktop) {
				font-size: 48px;
			}
		}
		p {
			font-size: 16px;
			color: $text-color;
			font-weight: 400;
			font-family: muliregular;
			@include respond-to($desktop) {
				font-size: 24px;
			}
		}
		ul {
		    list-style: none;
			padding: 0 24px 0 0;
    		margin: 20px 0;
		}
		li {
			font-size: 16px;
			line-height: 1.2;
			margin-bottom: 10px;
			color: $text-color;
			font-weight: 400;
			font-family: muliregular;
			@include respond-to($desktop) {
				font-size: 24px;
			}
			&:before {
			    content: "\2022";
			    color: $theme-color-main;
			    font-weight: bold;
			    display: inline-block;
			    vertical-align: middle;
				width: 24px;
				font-size: 24px;
				margin-right: -1em;
				@include respond-to($desktop) {
					width: 28px;
					font-size: 28px;
				}
			}
		}
		
		.support-us-form {
			background-color: $theme-footer-link;
			box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
			margin-bottom: 20px;
			padding: 20px;
			@include respond-to($desktop) {
				box-shadow: none;
			}
			.support-us-form-radios {
				text-align: center;
				@include respond-to($desktop) {
					text-align: right;
				}
				.support-us-form-input {
					display: none;
					+ .support-us-form-label {
						color: $theme-footer-link;
						background-color: $theme-color-main-hover;
						width: 130px;
						height: 60px;
						cursor: pointer;
						border-radius: 20px;
						text-align: center;
						line-height: 60px;
						font-size: 21px;
						font-weight: bold;
						font-family: muliregular;
						font-style: normal;
						@include respond-to($desktop) {
							width: 180px;
							height: 100px;
							line-height: 100px;
							font-size: 36px;
						}
					}
					&:checked + .support-us-form-label  {
						background-color: $theme-color-main;
					}
				}
			}

			.custom-control {
				padding-right: 0;
				padding-left: 20px;
				padding-bottom: 20px;
				margin: 0;
			}
			.custom-control-label {
				font-family: muliregular;
				font-size: 16px;
				font-weight: normal;
				color: $theme-color-main;
				@include respond-to($desktop) {
					font-size: 24px;
					font-weight: bold;
				}
				&:before,
				&:after {
					top: 0;
					left: auto;
					right: -2rem;
					width: 1.5rem;
					height: 1.5rem;
				}
			}

			.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
				background-color: $theme-color-main;
			}
			
			.support-us-btn-wrap {
				text-align: center;
				@include respond-to($desktop) {
					border-top: 1px solid $text-color;
					text-align: left;
				}
			}

			.btn-warning {
				color: $theme-footer-link;
				background-image: none;
				font-size: $font-size-regular;
				text-shadow: none;
				border-radius: 8px;
				box-shadow: none;
				&:hover, &:active {
					background: #d39e00;
					background-image: none;
				}
			}
		}
	}
}

			
			
			
