// @import 'lms/static/sass/partials/base/_variables';
// @import 'lms/static/sass/partials/base/_variables';

// --- mine
$font-size-base: 1rem;

$red: #E65D5D !default;
$blue: #34479B !default;
$orange: rgb(66, 65, 63) !default ;
$yellow: #FFCC43 !default;
$green: #85C559 !default;
$cyan: #56C1E9 !default;

$gray-l1 : #a3a3a6;
$gray-l2 : #a3a3a4;
$gray-l3 : #a3a3a3;

$primary: $blue !default;
$secondary: $green !default;
$success: $green !default;
// $info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;

