// ---- from template
// LMS-specific variables

$text-width-readability-max: 1080px;

// LMS-only colors
$audit-mode-color: rgb(74, 74, 74) !default;
$honor-mode-color: theme-color("primary") !default;
$verified-mode-color: theme-color("purchase") !default;
$professional-certificate-color: #9a1f60 !default;


// --- mine
$font-size-base: 1rem;

$red: #E65D5D;
$blue: #34479B;
$orange: #FFCC43;
$yellow: #FFCC43;
$green: #85C559;

@import 'edx-bootstrap/sass/open-edx/theme';
