// Import the original styles from edx-platform.
@import "lms/static/sass/lms-main-v1";

// Our overrides for settings we want to change.
@import "main";

$gray-l1 : #a3a3a6;
$gray-l2 : #a3a3a4;
$gray-l3 : #a3a3a3;