@import 'bourbon/bourbon';
@import 'vendor/bi-app/bi-app-rtl'; // set the layout for right to left languages

@import "const";

p {
    font-size: $font-size-smaller !important;
}
h3,h4,h5 {
    font-size: $font-size-base !important;
}
h2 {
    font-size: $font-size-h2 !important;
}
h1 {
    font-size: $font-size-h1 !important;
}

@import 'base/reset';
@import 'base/variables';
@import 'base/font_face';
@import 'base/mixins';

@import 'build-course'; // shared app style assets/rendering