<div class="theme-main-nav">
        <!-- blue nav -->

      <div class="theme-main-nav_opener"></div>
      <div class="theme-main-nav_logo">
        <a href="${marketing_link('ROOT')}">
          <span class="theme-nav-wrapper_logo-holder theme-nav-wrapper_logo-holder_small">
              <img src="${static.url("images/home/LogoMadrasaConv1.png")}" alt="logo" />
          </span>
        </a>
      </div>
      <nav class="theme-main-nav_holder">
        <ul class="theme-main-nav_list">
            <li class="theme-main-nav_item"><a href="/" class="theme-main-nav_link">          <span class="theme-nav-wrapper_logo-holder theme-nav-wrapper_logo-holder_small">
                <img src="/static/${settings.FEATURES.get('MARVEL_BLUE_DEFAULT_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/home/LogoMadrasaConv1.png" alt="logo" />
            </span></a></li>
            <li class="theme-main-nav_item"><a href="/courses" class="theme-main-nav_link">קורסים</a></li>
            <li class="theme-main-nav_item"><a href="/community" class="theme-main-nav_link">קהילה</a></li>
            <li class="theme-main-nav_item"><a href="/about" class="theme-main-nav_link">על מדרסה</a></li>
            <li class="theme-main-nav_item"><a href="/supporters" class="theme-main-nav_link">תומכים</a></li>
            <li class="theme-main-nav_item"><a href="/supportus" class="theme-main-nav_link">תמכו בנו</a></li>
            <li class="theme-main-nav_item"><a href="/contact" class="theme-main-nav_link">צרו קשר</a></li>

            % if user.is_authenticated():
              <%block name="navigation_global_links_authenticated">
                % if settings.FEATURES.get('COURSES_ARE_BROWSABLE') and not show_program_listing:
                  <li class="theme-main-nav_item">
                    <a class="theme-main-nav_link" href="${marketing_link('COURSES')}">${_('Explore Courses')}</a>
                  </li>
                % endif
                % if show_program_listing:
                  <li class="theme-main-nav_item">
                    <a class="${'active ' if reverse('dashboard') == request.path else ''}theme-main-nav_link" href="${reverse('dashboard')}">
                      ${_("Courses")}
                    </a>
                  </li>
                  <li class="theme-main-nav_item">
                    <a class="${'active ' if reverse('program_listing_view') in request.path else ''}theme-main-nav_link" href="${reverse('program_listing_view')}">
                      ${_("Programs")}
                    </a>
                  </li>
                % endif
                %if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff:
                  <li class="theme-main-nav_item">
                    ## Translators: This is short for "System administration".
                    <a class="theme-main-nav_link" href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
                  </li>
                %endif
              </%block>
            % else:
              <%block name="navigation_other_global_links">
                % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
                  % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
                    <li class="theme-main-nav_item">
                      <a class="theme-main-nav_link" href="/courses">${_("Explore Courses")}</a>
                    </li>
                  %endif
                % endif
              </%block>
            %endif
        </ul>
    </nav>
  </div>