<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">

	<section class="about-top">
        <div class="container text-center p-5">
			<h1 class="pt-5">הסיפור של מדרסה</h1>
			<h3>מיזם חברתי-קהילתי-טכנולוגי ללימוד ערבית מדוברת בחינם ולכולם.</h3>
			<p class="pb-5"> ההמטרה שלנו היא לקדם תקשורת טובה יותר בין המגזרים השונים בחברה הישראלית. המיזםמשלב לימוד מקוון באתר באמצעות קורסים אינטראקטיביים וספרית תכנים ענפה, יחד עם פעילותקהילתית יומיומית ברשתות החברתיות וקבוצות לימוד ברחבי הארץ.</p>
		</div>
	</section>
	
	<nav>
		<ul class="about-nav nav justify-content-center">
			<li class="nav-item"><a class="nav-link active" href="#story">הסיפור</a></li>
			<li class="nav-item"><a class="nav-link" href="#team">הצוות</a></li>
			<li class="nav-item"><a class="nav-link" href="#managment">הוועד המנהל</a></li>
			<li class="nav-item"><a class="nav-link" href="#thanks">תודות</a></li>
		</ul>
	</nav>
	
	<section class="about-story">
		<div class="about-story-img"></div>
		<a name="story"></a>
		<div class="container">
			<div class="about-story-wrap mb-5 px-3">
				<p class="heading">אנחנו לא יודעים לתקשר בערבית, למרות שזה בעצם די טבעי…</p>
				<p> החברה בישראל והמזרח התיכון בכלל רוויים בשפה הערבית. היא מהווה שפת אם עבור 22% מהאוכלוסייה, וגם למרבית מהיהודים בישראל, יוצאימדינות ערב וצפון אפריקה, ישנו חיבור תרבותי והיסטורי אליה. עם זאת, הרוב המוחלט של היהודים בישראל (97%!) לא דובר את השפה והחיבור אליה נשחק עם השנים. מעבר לכך, המענים הניתנים במערכת החינוך לרבות במוסדות ההשכלה הגבוההללימוד ערבית מוגבלים מאד ומתמקדים הלכה למעשה, בערבית ספרותית בלבד. כך, במקום שבו שפה יכולה הייתה לייצר קרבה ושותפות, גורמת איידיעת השפה להנצחת נתק, פילוג עוינות, זרות וחשש בין הקהילות.</p>
			</div>
			<div class="about-story-wrap mb-5 px-3">
				<p class="heading">הסיפור שלנו התחיל בירושלים בסוף שנת 2014.</p>
				<p> גילעדלימד שיעורים חינם בסלון של ההורים שלו ותלמידיםבסוף שנת 2014. גילעד לימד שיעורים חינם בסלון של ההורים שלו ותלמידים התחחנו שהוא יעלהאת הסרטונים לרשת… כמו שאומרים, השאר היסטוריה! קבוצה של חברים התגבשה כדי לצלם,לערוך, לכתוב ולהעלות את הסרטונים לרשת, וככה נולדו אתר מדרסה הראשון ועמוד הפייסבוק שלנו - פתוחים ונגישים לכולם ובחינם. ההצלחה הייתהמיידית. תוך זמן קצר כבר למדו באתר אלפי אנשים, ואנחנו המשכנו לייצר שיעורים ותכנים נוספים בהתנדבות, לדרישת הקהילה הגדלה שלנו. ב-2016 כבר הפכנו לעמותה, וב-2017 החלטנו לקחת את המיזם אל השלב הבא - פיתוח קורס אינטראקטיבי חדשומתקדם, שיתאים לצרכים של התלמידים שלנו וינגיש לכל מי שרוצה לא רק גישה לתוכן - אלא מסגרת לימודית המאפשרת התמדה ושימוש שוטף בשפה.</p>
			</div>
			<div class="about-story-wrap mb-5 px-3">
				<p class="heading">ללמוד לתקשר זו לא רק המטרה זו תפיסה חברתית ותמצית התפיסה הפדגוגית שלנו.</p>
				<p> מכאן נובעת הבחירה ללמד ערבית מדוברת, בלהג פלסטיני עירוני, ולהתמקד בתכנים יומיומיים. מכאן גם נגזרת השיטה שלנו, שמכוונת לתלמידים שלומדים ״על הדרך״, ושני האתגרים שמאפיינים אותם - היכולת לתמיד והצורךלתרגול שוטף. לכן סרטוני הלימוד קצרים וקליטים, לכן אנחנו שמים דגש הגדול על תרגול ומשחקים מסוגים שונים.</p>
				<p> המרכיב הכי חשוב בהתמודדות עם תהליךלמידה הוא הקהילה הלומדת שלנו. כשמתרגלים יחד בכל מקום ומכל מקום (פייסבוק, ווטסאפ, ניוזלטר,קבוצות למידה, צ׳טים, פורומים וכו׳ וכו׳) מתרגלים יותר, ומתמידים יותר.</p>
			</div>
			<div class="about-story-wrap mb-5 px-3">
				<p class="heading">המיזם צומח בקצב מסחרר</p>
				<p> במקביל לפיתוח קורסים נוספים (שיעלו בתקווה לאתר במהלך 2019), אנחנועמלים על פיתוח זירות בהן תוכל הקהילה שלנו לתרגל ולהיפגש - מפגשי שיח ותרגול (המתבססים על תכני הקורס שלנו) שאנחנו מתכננים לפתוח בערים מרכזיות בארץ; פלטפורמת שיחות בוידאו (בפיתוח), בה יוכלותלמידים לשוחח ולתרגל אחד עם השני, ועם דוברי שפה מרחבי הארץ. אך זה לא נגמר כאן. אנחנו עמליםעל הקמת קבוצות למידה בצמתים הכי מרכזיים בחברה - מעסיקים גדולים, משרתי ציבור (עובדי מערכת הבריאות למשל) ופעילים חברתיים.</p>
			</div>
		</div>
	</section>
	
	<section class="about-team text-center">
		<a name="team"></a>
		<div class="container">
			<h3>הצוות</h3>
			<div class="about-team-wrap d-flex justify-content-center">
				<div class="about-team-item">
					<img class="about-team-img" src="/static/marvel/images/about/gilad.png" alt="גילעד סוויט">
					<div class="about-team-content">
						<p class="heading">גילעד סוויט</p>
						<p> המייסד והמנהל המקצועי. בעל תואר ראשון בסוציולוגיה, אנתרופולוגיה, ערבית ובודהיזם. גר בירושלים, וחובב שפות (דה), אקולוגיה ומוסיקה.</p>
					</div>
				</div>
				<div class="about-team-item">
					<img class="about-team-img" src="/static/marvel/images/about/daniel.png" alt="דניאל דותן">
					<div class="about-team-content">
						<p class="heading">דניאל דותן</p>
						<p> עו״ד ופעיל חברתי. מייסד ומנכ״ל העמותה. חולה כדורגל, מצלם, כותב תשבצי היגיון (רק בעברית בינתיים), ואבא של עלמה.</p>
					</div>
				</div>
				<div class="about-team-item">
					<img class="about-team-img" src="/static/marvel/images/about/naam.png" alt="נע׳ם אבו ליל">
					<div class="about-team-content">
						<p class="heading">נע׳ם אבו ליל</p>
						<p> נע’ם אבו-ליל, עורכת תוכן במדרסה. סטודנטית לתואר ראשון במזרח תיכון ובלשנות. גרה בירושלים ותמיד מאחרת</p>
					</div>
				</div>
				<div class="about-team-item">
					<img class="about-team-img" src="/static/marvel/images/about/michal.png" alt="מיכל פורת">
					<div class="about-team-content">
						<p class="heading">מיכל פורת</p>
						<p> מנהלת הניו-מדיה שלנו. סטודנטית לתואר ראשון ביחסים בין לאומיים ומזרח תיכון ותואר שני ביחסים בין לאומיים. גרה בירושלים וחובבת מושבעת של ״משחקי הכס״.</p>
					</div>
				</div>
			</div>
			<div class="about-team-wrap d-flex justify-content-center">		
				<div class="about-team-item">
					<img class="about-team-img" src="/static/marvel/images/about/aya.png" alt="איה ח׳לאילה">
					<div class="about-team-content">
						<p class="heading">איה ח׳לאילה</p>
						<p> מתרגמת, מורה ועורכת תוכן. סטודנטית לתואר שני בפיתוח בין-לאומי, פעילה חברתית, אוהבת לטייל בעולם ולשחק משחקי קופסא!</p>
					</div>
				</div>
				<div class="about-team-item">
					<img class="about-team-img" src="/static/marvel/images/about/vered.png" alt="ורד קיסר">
					<div class="about-team-content">
						<p class="heading">ורד קיסר</p>
						<p> בת 27 מירושלים, כותבת חומרי לימוד ורכזת אדמיניסטרציה. בוגרת תואר ראשון בשפה וספרות ערבית ולומדת לתואר שני בבריאות הציבור. חובבת שפות, נופים וחתולים.</p>
					</div>
				</div>				
			</div>
		</div>
	</section>
	
	<section class="about-team text-center">
		<a name="managment"></a>
		<div class="container">
			<h3>הוועד המנהל</h3>
			<div class="about-team-wrap d-flex justify-content-center">
				<div class="about-team-item">
					<img class="about-team-img" src="/static/marvel/images/about/netanel.png" alt="נתנאל כץ">
					<div class="about-team-content">
						<p class="heading">נתנאל כ״ץ</p>
						<p> יושב ראש העמותה פסיכולוג ארגוני, מייסד ומנכל משותף ב”מכון מנהיגות”. ליווה את הפרויקט מראשית דרכו</p>
					</div>
				</div>
				<div class="about-team-item">
					<img class="about-team-img" src="/static/marvel/images/about/alon.png" alt="אלון פרגמן">
					<div class="about-team-content">
						<p class="heading">ד״ר אלון פרגמן</p>
						<p> עוסק בתרגום, בחקר הוראת השפה הערבית ובהכשרת מורים לערבית בבית הספר לחינוך באוניברסיטת תל אביב.</p>
					</div>
				</div>
				<div class="about-team-item">
					<img class="about-team-img" src="/static/marvel/images/about/daniel-s.png" alt="דניאל שפע">
					<div class="about-team-content">
						<p class="heading">דניאל שפע</p>
						<p> עורך בכיר ומפיק בערוץ הספורט</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="about-thanks text-center">
		<a name="thanks"></a>
		<div class="container">
			<h3>
				תודות 
				<img class="about-team-img" src="/static/marvel/images/about/namaste.png" alt="תודה">
			</h3>
			<p>שם בראשי, אורן פלד, מתן אשד, יובל כץ, גל קרמרסקי, נועה פינקלשטיין, ירדן ליכטרמן, עמית בן דור, שחר גילן, שרון קומש, יניב גרשון, מתן סרי, מחמוד שחאדה, סמירה טאפש, רג’אא חאג’ יחיא, מאיה דוד, מעתצם בכיראת ז”ל, איה ח’יריה, ת’נאא ג’ואברה, ראוי מוסא, זאדה חאג׳, אריאל קדם, עומר ארליך, חנאן חסין דבאח, ג’האד אבו סנינה, רונן רוטפרב, איתי כץ, עירית שחם, מנחם דותן רו״ח, מירי חזות, אוהד ובר, מתן גז מכון וןליר, המרכז האמריקאי בירושלים, בית אליאנס, אולפן הקלטות המזקקה, מרכז קרוסלה, משולם פרינט.</p>
			<a class="theme-btn-special mt-5" href="/supportus">וכמובן, לכל מי שתמך ותומך במיזם</a>
		</div>
	</section>
</main>
	
<!-- smooth scroll JS -->
<script src="/static/marvel/js/smooth-scroll.js"></script>