<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">צור קשר</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>צור קשר</h1>
        <p>עמוד זה יבנה בקרוב, עד עליית המערכת החדשה</p>
        <iframe src="https://calendar.google.com/calendar/embed?title=%D7%9E%D7%93%D7%A8%D7%A1%D7%94&amp;height=600&amp;wkst=1&amp;hl=iw&amp;bgcolor=%23FFFFFF&amp;src=en.jewish%23holiday%40group.v.calendar.google.com&amp;color=%230F4B38&amp;ctz=Asia%2FJerusalem" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </section>
</main>
