<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">שירותי שפה</%block>

	<section class="features">
        <div class="container text-center">
			<div class="row">
				<div class="col-md-12">
					<h1>שירותי שפה</h1>
					<p>חושבים לפתוח קורס או קבוצת לימוד בארגון שלכם? זקוקות לעזרה בתרגום? מחפשים הרצאה בנושא ההיסטוריה של השפה הערבית, או להגים ברחבי המזרח התיכון? בשנים האחרונות מדרסה מספקת שירותי שפה מגוונים במחירים הוגנים, בכך אנחנו תופסים כמה ציפורים במכה! יותר אנשים לומדיםלתקשר בערבית ועל ערבית, השפה נפוצה יותר במרחב, וכמובן - כל הרווחים חוזרים ישירות לקהילה שלנו - דרך פיתוח תכנים ופעילות שוטפת! הצוות המקצועי שלנו מונה מתרגמים ומדריכים מנוסים, בעלי ידע וניסיון בערבית מדוברת וספרותית, ומשלב דוברי ערבית כשפת אם ובעלי הכשרה אקדמית בתחום.</p>
				</div>
			</div>
		</div>
	</section>
	
	<nav>
		<ul class="nav">
			<li class="nav-item"><a class="nav-link active" href="#courses">קורסים</a></li>
			<li class="nav-item"><a class="nav-link" href="#lactures">הרצאות</a></li>
			<li class="nav-item"><a class="nav-link" href="#translation">תרגום</a></li>
		</ul>
	</nav>
	
	<section>
		<div class="row">
			<div class="col-md-6">
				1 left
			</div>
			<div class="col-md-6">
				<h3>קורסים לארגונים וחברות:</h3>
				<p>
				 הקורס המשולב של מדרסה הוא קורס יחיד במינו, כשלמעשה הוא מתבסס על שילוב בין היתרונות של הלימוד בקורסים המקווניםשלנו ליתרונות של קבוצת לימוד ותרגול פרונטלי שנפגשת ברמה השבועית. כך יכול תלמיד להתקדם בלימוד בקצב שלו ובזמן המתאים לו מחד, ולהנות מהמסגרת וההכוונה שמספק מדריךומהיתרונות של תרגול ושיחה משותפים עם חברים בשגרה. השילוב המושלם כדי להגיע להתמיד ולהגיע לתוצאות!
				</p>
			</div>
		</div>
	</section>