<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">תמכו בנו</%block>

<main id="main" aria-label="Content" tabindex="-1">

    <!--<section class="container about">
        <h1>תמכו בנו</h1>
        <p>עמוד זה יבנה בקרוב, עד עליית המערכת החדשה</p>
        
        <div class="resp-container">
            <iframe width="100%" height="100%" scrolling="no" frameborder="0"  class="resp-iframe" src="https://www.madrasafree.net/supportus" gesture="media"  allow="encrypted-media" seamless allowfullscreen></iframe>
        </div>
        <style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }

            iframe
            {
                position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
            }
            .nothing{
                style="border: 0px solid black;width: 100%;height: 100%;overflow:hidden;"
            }
        </style>
    </section>-->
	
	<section class="reg-user">
		<div class="reg-user-header">
			<h1>מרחבא אמיר!</h1>
			<a href="#" class="theme-btn theme-btn__invert w-100">המשך בקורס ״מדרסה מתחילים״</a>
		</div>		
		<div class="d-flex justify-content-between align-items-center flex-sm-column">
			<div class="text-center">
				<p>כמה שעורים סיימתי?</p>
				<h3>5 / 20</h3>
			</div>
			<div class="reg-user-progress text-right">
				<p>כמה התקדמתי?</p>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
			<div class="text-center">
				<p>כמה מילים למדתי?</p>
				<h3>35 / 490</h3>
			</div>
		</div>
	</section>
</main>
