<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">תמכו בנו</%block>

<main id="main" aria-label="Content" tabindex="-1">
        <style>.resp-container {
                position: relative;
                overflow: hidden;
                padding-top: 56.25%;
            }
            </style>
    <section class="container about">
        <h1>תמכו בנו</h1>
        <p>עמוד זה יבנה בקרוב, עד עליית המערכת החדשה</p>
        
        <div class="resp-container">
            <iframe class="resp-iframe" src="https://www.madrasafree.net/supportus" gesture="media"  allow="encrypted-media" seamless allowfullscreen></iframe>
        </div>
    </section>
</main>
