<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<head>
    <!-- <link rel="manifest" href="${static.url('js/notifications/manifest.json')}" /> -->
    <link rel="manifest" href="/manifest.json" />

    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "e9db2dad-64cc-40e6-8998-545e1783f631",
        });
      });
    </script>
</head>

<main id="main" aria-label="Content" tabindex="-1">
    <div class="content-wrapper">
		<section class="supporters-top">
			<div class="container text-center p-5">
				<h1 class="pt-5">תומכים ושותפים</h1>
				<p class="pb-5">מדרסה היא עמותה, מיזם ללא כוונות רווח לא היה קיים ללא התמיכה הכספית של עשרות גורמים ואלפי אנשים ששותפים ושותפות לדרך שלנו. זה המקום לומר לכולם תודה.</p>
			</div>
		</section>

		<nav>
			<ul class="supporters-nav nav justify-content-center">
				<li class="nav-item"><a class="nav-link active" href="#community">תומכים מהקהילה</a></li>
				<li class="nav-item"><a class="nav-link" href="#orgs">קרנות ומוסדות</a></li>
				<li class="nav-item"><a class="nav-link" href="#privet">תורמים פרטיים</a></li>
				<li class="nav-item"><a class="nav-link" href="#shir">לזכרה של שיר</a></li>
			</ul>
		</nav>

		<section class="supporters-community">
			<div class="supporters-community-img"></div>
			<a name="community"></a>
			<div class="container text-center">
				<h3 class="my-5">תומכים מהקהילה</h3>
				<p>מעל 1,500 אנשים תמכו במדרסה עד כה, באופן עצמאי ובמסגרת <a class="supporters-community-link" href="#">קמפיין גיוס המונים מוצלח</a> באוקטובר 2017. </p>
				<p class="mt-0 mb-5"><a class="supporters-community-link" href="#">מוזמנים להצטרף אלינו גם</a></p>
			</div>
		</section>
		
		<section class="supporters-community">
			<a name="orgs"></a>
			<div class="container text-center">
				<h3 class="mt-5">קרנות ומוסדות</h3>
				<div class="d-flex align-items-center justify-content-center mb-5">
					<img class="mx-3" src="/static/marvel/images/supporters/leichtag.png" alt="leichtag logo">
					<img class="mx-3" src="/static/marvel/images/supporters/ihf-logo.png" alt="ihf logo">
					<img class="mx-3" src="/static/marvel/images/supporters/idc-herzliya-logo.png" alt="idc-herzliya logo">
					<img class="mx-3" src="/static/marvel/images/supporters/National_Union_of_Israeli_Students.png" alt="National_Union_of_Israeli_Students logo">
					<img class="mx-3" src="/static/marvel/images/supporters/Mifal_HaPayis_logo.png" alt="Mifal_HaPayis logo">
				</div>
			</div>
		</section>
		
		<section class="supporters-community">
			<a name="privet"></a>
			<div class="container text-center">
				<h3 class="my-5">תורמים פרטיים</h3>
				<p>תמר ורונן לנדסברג | מיכל צרפתי אפרת אוריקה נכסים | חגית אוזן | מלי בכר | מאיר אוזן | אורה סטיבה | רון פרופר | דנה גרוס</p>
			</div>
		</section>
		
		<section class="supporters-community">
			<a name="shir"></a>
			<div class="container text-center">
				<h3>לזכרה של שיר</h3>
				<div class="d-flex align-items-start justify-content-center">
					<img class="ml-4" src="/static/marvel/images/supporters/shir.png" alt="shir">
					<div>
						<p>משפחתה וחבריה של שיר בכר מלווים את הפרויקט והם שותפים חשובים בהתפתחות ובצמיחה שלנו. שיר אהבה מאוד ביטויים ומשחקי לשון, והעמוד “באים לידי ביטוי” מוקדש לזכרה. ​ תמר לנדסברג - חן למדן, למדן אחזקות - מיכל ודרור אפרת - גליה גלילי - עדי ודורון סבג - רם ויעל בן שלום - תמי רות - מריו ופולי מסצ’יאני - רותי ואלדד ארז - אורנה ומשה פרדו - משה מור - מאיר אוזן - חגית אוזן - אורלי ומשה אופנהיימר (עלום אשת) - דליה ויורם אבי גיא - מלי בכר - רונית ודני רייק</p>
						<div class="">
							<a class="theme-btn theme-btn__invert ml-5" href="#">עמוד הפרוייקט - באים לידי ביטוי</a>
							<a class="theme-btn-special ml-5" href="#">לסיפורה של שיר</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>
	
<!-- smooth scroll JS -->
<script src="/static/marvel/js/smooth-scroll.js"></script>
