<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">תמכו בנו</%block>

<main id="main" aria-label="Content" tabindex="-1" class="content-wrapper">
	<div class="content-wrapper">
    <!--<section class="container about">
        <h1>תמכו בנו</h1>
        <p>עמוד זה יבנה בקרוב, עד עליית המערכת החדשה</p>
        
        <div class="resp-container">
            <iframe width="100%" height="100%" scrolling="no" frameborder="0"  class="resp-iframe" src="https://www.madrasafree.net/supportus" gesture="media"  allow="encrypted-media" seamless allowfullscreen></iframe>
        </div>
        <style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }

            iframe
            {
                position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
            }
            .nothing{
                style="border: 0px solid black;width: 100%;height: 100%;overflow:hidden;"
            }
        </style>
    </section>-->
	

	</div>
</main>
