<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
        <style type="text/css">
            span.cls_002{font-family:"David Bold",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            div.cls_002{font-family:"David Bold",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            span.cls_003{font-family:"David",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
            div.cls_003{font-family:"David",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
            span.cls_006{font-family:"David Bold",serif;font-size:12.1px;color:rgb(4,98,193);font-weight:bold;font-style:normal;text-decoration: underline}
            div.cls_006{font-family:"David Bold",serif;font-size:12.1px;color:rgb(4,98,193);font-weight:bold;font-style:normal;text-decoration: none}
            </style>
    <section class="container about line-height">
        <div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
            <div style="position:absolute;left:0px;top:0px">
            <img src="8b58ea4e-d05f-11e8-b59b-0cc47a792c0a_id_8b58ea4e-d05f-11e8-b59b-0cc47a792c0a_files/background1.jpg" width=612 height=792></div>
            <div style="position:absolute;left:402.07px;top:68.66px" class="cls_002"><span class="cls_002">"</span></div>
            <div style="position:absolute;left:408.05px;top:68.66px" class="cls_002"><span class="cls_002">הסרדמ" רתאב שומישל ןונקת</span></div>
            <div style="position:absolute;left:152.06px;top:90.26px" class="cls_003"><span class="cls_003">.דחאכ םירבגלו םישנל סחייתמ וב רמאנה לכ םלואו ,רכז ןושלב ןונקתה טקונ תוחונ ימעטמ</span></div>
            <div style="position:absolute;left:90.61px;top:117.98px" class="cls_003"><span class="cls_003">םילולכה םיאנתה לכ תא ךתלבקל ףופכב ךל םיעצומ ,וב םינתינה םיתורישהו וינכת לע רתאב שומישה</span></div>
            <div style="position:absolute;left:534.96px;top:117.98px" class="cls_003"><span class="cls_003">1</span></div>
            <div style="position:absolute;left:475.06px;top:135.62px" class="cls_003"><span class="cls_003">.הז ןונקתב</span></div>
            <div style="position:absolute;left:285.17px;top:153.38px" class="cls_003"><span class="cls_003">.הלא םיאנתל ךדצמ המכסהל הנבשחיתו רתאב השילגה</span></div>
            <div style="position:absolute;left:534.96px;top:153.38px" class="cls_003"><span class="cls_003">2</span></div>
            <div style="position:absolute;left:93.37px;top:171.02px" class="cls_003"><span class="cls_003">יאנת תא רפי םא תורישל שלוגה תשיג תא רתלאל קיספהל וא םוסחל ,תועשהל תיאשר רתאה תלהנה</span></div>
            <div style="position:absolute;left:534.96px;top:171.02px" class="cls_003"><span class="cls_003">3</span></div>
            <div style="position:absolute;left:487.66px;top:188.78px" class="cls_003"><span class="cls_003">.ןונקתה</span></div>
            <div style="position:absolute;left:282.77px;top:206.54px" class="cls_003"><span class="cls_003">.תעל תעמ ןונקתה יאנת תא ןכדעל תיאשר רתאה תלהנה</span></div>
            <div style="position:absolute;left:534.96px;top:206.54px" class="cls_003"><span class="cls_003">4</span></div>
            <div style="position:absolute;left:242.93px;top:224.21px" class="cls_003"><span class="cls_003">.תויקוח יתלב תורטמל שומיש לכ ותועצמאב וא רתאב תושעל ןיא</span></div>
            <div style="position:absolute;left:534.96px;top:224.21px" class="cls_003"><span class="cls_003">5</span></div>
            <div style="position:absolute;left:95.17px;top:241.97px" class="cls_003"><span class="cls_003">תויטרפב עגופ ,םייאמ ,ץימשמ ,בילעמ ,ירקש אוהש עדימ לכ רתאה תועצמאב ריבעהל וא םסרפל ןיא</span></div>
            <div style="position:absolute;left:534.96px;top:241.97px" class="cls_003"><span class="cls_003">6</span></div>
            <div style="position:absolute;left:290.71px;top:259.61px" class="cls_003"><span class="cls_003">.יקוח יתלב וא ,ינעזג ,ינימ יפוא לעב ,יפרגונרופ ,תלוזה</span></div>
            <div style="position:absolute;left:89.41px;top:277.37px" class="cls_003"><span class="cls_003">הניא רתאה תלהנה .רתאה תועצמאב ריבעת וא םסרפת ותוא עדימה תונוכנל ידעלב ןפואב יארחא ךנה</span></div>
            <div style="position:absolute;left:534.96px;top:277.37px" class="cls_003"><span class="cls_003">7</span></div>
            <div style="position:absolute;left:197.81px;top:295.01px" class="cls_003"><span class="cls_003">.םייונמה ןיב םירבעומ וא םימסרופמה םינכתל תוירחא לכ המצע לע תלבקמ</span></div>
            <div style="position:absolute;left:172.22px;top:312.77px" class="cls_003"><span class="cls_003">.תרחא ךרד לכב וא תומוסרפ חולשמ לש ךרדב ירחסמ שומיש לכ רתאב תושעל ןיא</span></div>
            <div style="position:absolute;left:534.96px;top:312.77px" class="cls_003"><span class="cls_003">8</span></div>
            <div style="position:absolute;left:81.37px;top:330.53px" class="cls_003"><span class="cls_003">ןיבו ט'צב וא תובתכתהב ןיב תאזו ,רתאב םירחאה םישמתשמהמ ימ םע ךלש רחא וא ילאוטריו רשק לכ</span></div>
            <div style="position:absolute;left:534.96px;top:330.53px" class="cls_003"><span class="cls_003">9</span></div>
            <div style="position:absolute;left:78.01px;top:348.17px" class="cls_003"><span class="cls_003">םיטרפה ברימ תא אדוולו בטיה לוקשל רתויב ץלמומ .תידעלבה ךתוירחאב ןה ,"תמא" תושיגפ" תרגסמב</span></div>
            <div style="position:absolute;left:78.97px;top:365.95px" class="cls_003"><span class="cls_003">םדא םע הנושארה השיגפה ינפל םייברמ תוריהז יעצמאב טוקנל ןכו ,הזכ שגפמ לכ ינפל ינשה דצה תודוא</span></div>
            <div style="position:absolute;left:102.25px;top:383.59px" class="cls_003"><span class="cls_003">עורגל ילבמו ,רומאכ רשק לכ תואצותל תוירחא לכ רתאה תלהנהל היהת אל הרקמ םושב .רכומ אל</span></div>
            <div style="position:absolute;left:214.01px;top:401.35px" class="cls_003"><span class="cls_003">.םירחאו םיישגר ,םייפסכ ,םיישפנ ,םייזיפ םיקזנל ליעל רומאה תויללכמ</span></div>
            <div style="position:absolute;left:94.81px;top:419.11px" class="cls_003"><span class="cls_003">רתאה תלהנה תלוכיב ןיא תאז םע דחי .תע לכב םינימז ויהי ויתורישו רתאה יכ רתאה תלהנה תנווכב .10</span></div>
            <div style="position:absolute;left:78.01px;top:436.75px" class="cls_003"><span class="cls_003">שומישה תא קיספהל רתאה תלהנה תיאשר ןכ ומכ ."תוליפנ" אללו תולקת אלל הפוצר תונימזל בייחתהל</span></div>
            <div style="position:absolute;left:72.26px;top:454.51px" class="cls_003"><span class="cls_003">.תורישב תוקספה וא תולקת לשב יוכיז/יפסכ יוציפ לכ ןתניי אל .ונוגראו ותקוזחת יכרוצל תעל תעמ רתאב</span></div>
            <div style="position:absolute;left:192.53px;top:472.15px" class="cls_003"><span class="cls_003">.רתאה תלהנה לש םה רתאל רשקב םירצויה תויוכזו ינחורה ןיינקה תויוכז לכ .11</span></div>
            <div style="position:absolute;left:90.25px;top:489.91px" class="cls_003"><span class="cls_003">לע ךכל תוירחאה .רתאב ימוסרפ רמוח לכל וא "םירנאב" ,תועדומ ןכותל תיארחא הניא רתאה תלהנה .12</span></div>
            <div style="position:absolute;left:444.82px;top:507.58px" class="cls_003"><span class="cls_003">.דבלב םימסרפמה</span></div>
            <div style="position:absolute;left:76.81px;top:525.34px" class="cls_003"><span class="cls_003">תניחבמ הלא םירתאב םינכתל הבורע םיווהמ םניא םירחא םירתאל )"םיקניל"  םירושיק לש םתואצמיה .13</span></div>
            <div style="position:absolute;left:335.59px;top:543.10px" class="cls_003"><span class="cls_003">.תרחא הניחב לכמ וא ,םתומלש ,םתונמיהמ</span></div>
            <div style="position:absolute;left:136.10px;top:560.74px" class="cls_003"><span class="cls_003">.םילשוריב םיכמסומה טפשמה יתבל ויבגל טופישה תוכמס .ילארשיה ןידה לוחי ןונקתה לע .14</span></div>
            <div style="position:absolute;left:405.46px;top:592.30px" class="cls_002"><span class="cls_002">המורת לוטיב תוינידמו תומורת</span></div>
            <div style="position:absolute;left:86.77px;top:614.02px" class="cls_003"><span class="cls_003">ףסכ םורתל הז רתא תועצמאב ךל תרשפאמ 580616498 .ע.מ ")ר"ע  תיברעל רפס תיב - הסרדמ" תתומע.1</span></div>
            <div style="position:absolute;left:86.77px;top:627.58px" class="cls_003"><span class="cls_003">ןתינ ןכ ומכו ,דחא םולשתב יארשא סיטרכב םלשל ןתינ - הריהמו החונ ,הלק ךרדב התומעה תוליעפ תבוטל</span></div>
            <div style="position:absolute;left:418.54px;top:641.14px" class="cls_003"><span class="cls_003">.PAYPAL תועצמאב םלשל</span></div>
            <div style="position:absolute;left:102.97px;top:662.76px" class="cls_003"><span class="cls_003">לבקי שלוגהו יארשאה תרבח לומ סיטרכה תקידב עצבתת</span></div>
            <div style="position:absolute;left:349.63px;top:662.76px" class="cls_003"><span class="cls_003">יארשא סיטרכ תועצמאב המורת ןתמ תעב .2</span></div>
            <div style="position:absolute;left:270.29px;top:676.32px" class="cls_003"><span class="cls_003">.התחדנ וא הלבקתה םאהו הקסעה בצמל רשאב תידיימ הבושת</span></div>
            </div>
            <div style="position:absolute;left:50%;margin-left:-306px;top:802px;width:612px;height:792px;border-style:outset;overflow:hidden">
            <div style="position:absolute;left:0px;top:0px">
            <img src="8b58ea4e-d05f-11e8-b59b-0cc47a792c0a_id_8b58ea4e-d05f-11e8-b59b-0cc47a792c0a_files/background2.jpg" width=612 height=792></div>
            <div style="position:absolute;left:534.96px;top:68.78px" class="cls_003"><span class="cls_003">3</span></div>
            <div style="position:absolute;left:72.61px;top:68.78px" class="cls_003"><span class="cls_003">לוטיב בויחה יטרפ יונישל השקבב התומעל תונפל יאשר היהי הלועפה עצבמ :הקסע / המורת לוטיב תוינידמ .</span></div>
            <div style="position:absolute;left:96.73px;top:82.34px" class="cls_003"><span class="cls_003">תנגה קוח פ“ע ןופלטב וא טנרטניאב המורתה תלועפ העצובש םוימ םוי 30 ךותב הקסע לטבל ןתינ .הקסע</span></div>
            <div style="position:absolute;left:74.05px;top:95.90px" class="cls_003"><span class="cls_003">הדימב .יארשאה תרבחב תע התואב הגוהנה תוינידמל םאתהב שרדנה יונישה תא עצבת התומעה .1981 ןכרצה</span></div>
            <div style="position:absolute;left:94.93px;top:109.46px" class="cls_003"><span class="cls_003">התומעה .רומאכ הלמעב הלועפה תעצבמ ביוחת,הלועפה ןיגב הלמעב התומעה תא בייחת יארשאה תרבחו</span></div>
            <div style="position:absolute;left:301.39px;top:123.02px" class="cls_003"><span class="cls_003">.םרותה תשקב יפ לע המורת םוכס יוניש וא לוטיב עצבת</span></div>
            <div style="position:absolute;left:91.93px;top:144.62px" class="cls_003"><span class="cls_003">תינופלט</span></div>
            <div style="position:absolute;left:130.10px;top:144.62px" class="cls_003"><span class="cls_003">המורתב רומאכ םיטרפ ןתמ וא המורתה ספוטב םיבזוכ םיטרפ יולימ .םיבזוכ םיטרפ תתל ןיא .4</span></div>
            <div style="position:absolute;left:153.38px;top:158.18px" class="cls_003"><span class="cls_003">.םייחרזאו םיילילפ ,םייטפשמ םיכילהל יופצ וז הריבע רובעיש שלוג .תילילפ הריבע םיווהמ</span></div>
            <div style="position:absolute;left:74.05px;top:179.78px" class="cls_003"><span class="cls_003">לע הלועפה תא םילשהל ידכ .םאתהב העדוה הלועפה עצבמ לבקי ,יארשאה תרבח י“ע הרשוא אל הקסע םא .</span></div>
            <div style="position:absolute;left:534.96px;top:179.78px" class="cls_003"><span class="cls_003">5</span></div>
            <div style="position:absolute;left:227.81px;top:193.34px" class="cls_003"><span class="cls_003">.050-7312698 ןופלט 'סמב ,התומעה םע ינופלט רשק רוציל הלועפה עצבמ</span></div>
            <div style="position:absolute;left:80.41px;top:214.97px" class="cls_003"><span class="cls_003">רחא</span></div>
            <div style="position:absolute;left:102.38px;top:214.97px" class="cls_003"><span class="cls_003">םרוג לכ ןיגב וא רתאב תושלוג ידי לע השעיתש תיקוח יתלב תוליעפל תוירחא לכב אשית אל התומעה .6</span></div>
            <div style="position:absolute;left:95.05px;top:228.53px" class="cls_003"><span class="cls_003">,ונממ םיעבונה ךוסכס וא/ו הלועפ לכ וא ןונקתה לש ותפיכאו הז ןונקתל תונשרפ .אלמה התטילשב וניאש</span></div>
            <div style="position:absolute;left:116.65px;top:242.21px" class="cls_003"><span class="cls_003">האכרעב הערכהל אבות הז ןונקתל רשקהב הלאש וא ךוסכס לכ .לארשי תנידמ יקוחל םאתהב ושעיי</span></div>
            <div style="position:absolute;left:352.63px;top:255.65px" class="cls_003"><span class="cls_003">.דבלב םילשורי זוחמב תכמסומה תיטופישה</span></div>
            <div style="position:absolute;left:85.69px;top:277.37px" class="cls_003"><span class="cls_003">תטרופמה תויטרפה תוינידמו רתאה ןונקתל םיכסמ ינאו יתארקשו ,הנש 18</span></div>
            <div style="position:absolute;left:408.47px;top:277.37px" class="cls_003"><span class="cls_003">תוחפל אוה יליגש רשאמ ינא .7</span></div>
            <div style="position:absolute;left:516.34px;top:290.81px" class="cls_003"><span class="cls_003">.ןלהל</span></div>
            <div style="position:absolute;left:93.73px;top:312.53px" class="cls_003"><span class="cls_003">ריבעת אל התומעה .םימרותהו םישלוגה תויטרפ לע רומשל התבוחב הריכמ התומעה :תויטרפ תוינידמ.8</span></div>
            <div style="position:absolute;left:96.97px;top:326.09px" class="cls_003"><span class="cls_003">םרוג לכל ריבעת אלו ,המורתה תלועפ עוציב ךרוצל יארשאה תרבחל דבלמ ,ישילש םרוגל םימרותה יטרפ</span></div>
            <div style="position:absolute;left:103.21px;top:339.65px" class="cls_003"><span class="cls_003">,התוליעפ לע עדימ רישי רווידב חולשל תוכזה תא המצעל תרמוש התומעה .םירחא םישלוג יטרפ ישילש</span></div>
            <div style="position:absolute;left:74.05px;top:353.21px" class="cls_003"><span class="cls_003">םאתהב ,הצופתה תמישרמ הרסהל תורשפאה תנתינ רוויד לכב .רתאב םהיטרפ ואלימש םישלוגל 'דכו רטלזוינ</span></div>
            <div style="position:absolute;left:259.61px;top:366.67px" class="cls_003"><span class="cls_003">.2008 -ח"סשתה , 40 'סמ ןוקית) םירודישו קזב) תרושקתה קוחל</span></div>
            <div style="position:absolute;left:88.21px;top:388.39px" class="cls_003"><span class="cls_003">תתומע לש טנרטניאה רתאב שמתשהל אלש שקבתמ התא ,הז ןונקת לש ויאנתמ יאנתל םיכסמ ךניא םא.9</span></div>
            <div style="position:absolute;left:411.35px;top:401.83px" class="cls_003"><span class="cls_003">."תיברעל רפס תיב - הסרדמ"</span></div>
            <div style="position:absolute;left:107.42px;top:423.55px" class="cls_002"><span class="cls_002">050- ןופלט רפסמ תועצמאב וא "רשק ורצ" דומע תועצמאב תונפל שי רתאה תלהנה םע רשק תריציל</span></div>
            <div style="position:absolute;left:90.49px;top:437.11px" class="cls_002"><span class="cls_002">רובע םילשורי ,39 ן"במר תבותכל בתכב וא madrasa.office@gmail.com :ינורטקלא ראודב ,7312698</span></div>
            <div style="position:absolute;left:338.59px;top:450.55px" class="cls_002"><span class="cls_002">.")ר"ע  - תיברעל רפס תיב - הסרדמ תתומע"</span></div>
            <div style="position:absolute;left:222.41px;top:478.15px" class="cls_002"><span class="cls_002">:ראטסדייג - לארשי לש תותומעה רתאב םיפסונ םיטרפ ונילע ארקל ןתינ</span></div>
            <div style="position:absolute;left:260.09px;top:505.78px" class="cls_006"><span class="cls_006"> </span><A HREF="http://www.guidestar.org.il/he/organization/580616498">http://www.guidestar.org.il/he/organization/580616498</A> </div>
            </div>
    </section>
</main>
