<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about line-height">
      <p>
            <p style="position:absolute;top:108px;left:603px;white-space:nowrap" class="ft00"><b>&#34;הסרדמ&#34; רתאב שומישל&#160;ןונקת</b></p>
            <p style="position:absolute;top:108px;left:595px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:140px;left:479px;white-space:nowrap" class="ft01">נה&#160;לכ&#160;םלואו&#160;,רכז ןושלב&#160;ןונקתה&#160;טקונ&#160;תוחונ&#160;ימעטמ</p>
            <p style="position:absolute;top:140px;left:251px;white-space:nowrap" class="ft01">אכ&#160;םירבגלו&#160;םישנל&#160;סחייתמ וב רמא</p>
            <p style="position:absolute;top:140px;left:228px;white-space:nowrap" class="ft01">.דח</p>
            <p style="position:absolute;top:140px;left:220px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:182px;left:802px;white-space:nowrap" class="ft01">1</p>
            <p style="position:absolute;top:182px;left:798px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:182px;left:783px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:182px;left:132px;white-space:nowrap" class="ft01">&#160;םילולכה&#160;םיאנתה&#160;לכ תא&#160;ךתלבקל&#160;ףופכב ךל&#160;םיעצומ ,וב&#160;םינתינה&#160;םיתורישהו&#160;וינכת לע&#160;רתאב שומישה</p>
            <p style="position:absolute;top:208px;left:717px;white-space:nowrap" class="ft01">הז ןונקתב</p>
            <p style="position:absolute;top:208px;left:713px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:208px;left:704px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:235px;left:802px;white-space:nowrap" class="ft01">2</p>
            <p style="position:absolute;top:235px;left:798px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:235px;left:783px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:235px;left:682px;white-space:nowrap" class="ft01">ו&#160;רתאב השילגה</p>
            <p style="position:absolute;top:235px;left:617px;white-space:nowrap" class="ft01">&#160;הנבשחית</p>
            <p style="position:absolute;top:235px;left:432px;white-space:nowrap" class="ft01">הלא&#160;םיאנתל&#160;ךדצמ המכסהל</p>
            <p style="position:absolute;top:235px;left:428px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:235px;left:419px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:261px;left:802px;white-space:nowrap" class="ft01">3</p>
            <p style="position:absolute;top:261px;left:798px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:262px;left:783px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:261px;left:736px;white-space:nowrap" class="ft01">&#160;תלהנה</p>
            <p style="position:absolute;top:261px;left:136px;white-space:nowrap" class="ft01">&#160;יאנת&#160;תא&#160;רפי&#160;םא&#160;תורישל&#160;שלוגה&#160;תשיג תא רתלאל&#160;קיספהל&#160;וא&#160;םוסחל&#160;,תועשהל&#160;תיאשר רתאה</p>
            <p style="position:absolute;top:288px;left:736px;white-space:nowrap" class="ft01">ןונקתה</p>
            <p style="position:absolute;top:288px;left:731px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:288px;left:723px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:315px;left:802px;white-space:nowrap" class="ft01">4</p>
            <p style="position:absolute;top:315px;left:798px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:315px;left:783px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:315px;left:429px;white-space:nowrap" class="ft01">תעל&#160;תעמ&#160;ןונקתה&#160;יאנת תא&#160;ןכדעל&#160;תיאשר רתאה&#160;תלהנה</p>
            <p style="position:absolute;top:315px;left:424px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:315px;left:416px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:341px;left:802px;white-space:nowrap" class="ft01">5</p>
            <p style="position:absolute;top:341px;left:798px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:341px;left:783px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:341px;left:369px;white-space:nowrap" class="ft01">תויקוח&#160;יתלב תורטמל&#160;שומיש לכ ותועצמאב וא רתאב תושעל&#160;ןיא</p>
            <p style="position:absolute;top:341px;left:364px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:341px;left:356px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:368px;left:802px;white-space:nowrap" class="ft01">6</p>
            <p style="position:absolute;top:368px;left:798px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:368px;left:783px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:368px;left:261px;white-space:nowrap" class="ft01">אמ&#160;,ץימשמ ,בילעמ ,ירקש&#160;אוהש עדימ לכ&#160;רתאה&#160;תועצמאב ריבעהל&#160;וא םסרפל&#160;ןיא</p>
            <p style="position:absolute;top:368px;left:139px;white-space:nowrap" class="ft01">&#160;תויטרפב&#160;עגופ&#160;,םיי</p>
            <p style="position:absolute;top:394px;left:441px;white-space:nowrap" class="ft01">יקוח&#160;יתלב&#160;וא ,ינעזג&#160;,ינימ&#160;יפוא&#160;לעב ,יפרגונרופ&#160;,תלוזה</p>
            <p style="position:absolute;top:394px;left:436px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:394px;left:428px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:421px;left:802px;white-space:nowrap" class="ft01">7</p>
            <p style="position:absolute;top:421px;left:798px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:421px;left:783px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:421px;left:130px;white-space:nowrap" class="ft01">&#160;הניא רתאה&#160;תלהנה&#160;.רתאה&#160;תועצמאב ריבעת וא םסרפת ותוא עדימה&#160;תונוכנל&#160;ידעלב&#160;ןפואב יארחא ךנה</p>
            <p style="position:absolute;top:447px;left:301px;white-space:nowrap" class="ft01">םייונמה&#160;ןיב םירבעומ וא&#160;םימסרופמה&#160;םינכתל&#160;תוירחא לכ המצע&#160;לע&#160;תלבקמ</p>
            <p style="position:absolute;top:447px;left:297px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:447px;left:288px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:474px;left:802px;white-space:nowrap" class="ft01">8</p>
            <p style="position:absolute;top:474px;left:798px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:474px;left:783px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:474px;left:528px;white-space:nowrap" class="ft01">רדב ירחסמ&#160;שומיש לכ רתאב תושעל&#160;ןיא</p>
            <p style="position:absolute;top:474px;left:263px;white-space:nowrap" class="ft01">תרחא ךרד לכב וא&#160;תומוסרפ&#160;חולשמ לש&#160;ך</p>
            <p style="position:absolute;top:474px;left:258px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:474px;left:250px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:501px;left:802px;white-space:nowrap" class="ft01">9</p>
            <p style="position:absolute;top:501px;left:798px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:501px;left:783px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:501px;left:539px;white-space:nowrap" class="ft01">&#160;ימ םע&#160;ךלש&#160;רחא וא ילאוטריו&#160;רשק לכ</p>
            <p style="position:absolute;top:501px;left:449px;white-space:nowrap" class="ft01">םישמתשמהמ</p>
            <p style="position:absolute;top:501px;left:445px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:501px;left:118px;white-space:nowrap" class="ft01">&#160;ןיבו&#160;ט'צב וא תובתכתהב ןיב תאזו&#160;,רתאב םירחאה</p>
            <p style="position:absolute;top:527px;left:113px;white-space:nowrap" class="ft01">&#160;םיטרפה&#160;ברימ תא אדוולו&#160;בטיה&#160;לוקשל&#160;רתויב ץלמומ .תידעלבה&#160;ךתוירחאב ןה&#160;,&#34;תמא&#34;&#160;תושיגפ&#34;&#160;תרגסמב</p>
            <p style="position:absolute;top:554px;left:114px;white-space:nowrap" class="ft01">&#160;םדא םע&#160;הנושארה&#160;השיגפה&#160;ינפל&#160;םייברמ&#160;תוריהז&#160;יעצמאב טוקנל&#160;ןכו&#160;,הזכ שגפמ לכ&#160;ינפל&#160;ינשה דצה&#160;תודוא</p>
            <p style="position:absolute;top:580px;left:533px;white-space:nowrap" class="ft01">להנהל&#160;היהת&#160;אל&#160;הרקמ&#160;םושב&#160;.רכומ אל</p>
            <p style="position:absolute;top:580px;left:149px;white-space:nowrap" class="ft01">&#160;עורגל&#160;ילבמו&#160;,רומאכ רשק&#160;לכ תואצותל&#160;תוירחא&#160;לכ רתאה&#160;ת</p>
            <p style="position:absolute;top:607px;left:326px;white-space:nowrap" class="ft01">םירחאו&#160;םיישגר&#160;,םייפסכ ,םיישפנ&#160;,םייזיפ&#160;םיקזנל&#160;ליעל&#160;רומאה&#160;תויללכמ</p>
            <p style="position:absolute;top:607px;left:321px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:607px;left:313px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:633px;left:794px;white-space:nowrap" class="ft01">10</p>
            <p style="position:absolute;top:633px;left:790px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:634px;left:783px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:633px;left:138px;white-space:nowrap" class="ft01">&#160;רתאה&#160;תלהנה&#160;תלוכיב&#160;ןיא&#160;תאז םע&#160;דחי&#160;.תע&#160;לכב םינימז ויהי&#160;ויתורישו&#160;רתאה&#160;יכ רתאה&#160;תלהנה&#160;תנווכב</p>
            <p style="position:absolute;top:660px;left:402px;white-space:nowrap" class="ft01">כ ומכ&#160;.&#34;תוליפנ&#34;&#160;אללו&#160;תולקת אלל&#160;הפוצר תונימזל&#160;בייחתהל</p>
            <p style="position:absolute;top:660px;left:113px;white-space:nowrap" class="ft02">&#160;שומישה&#160;תא קיספהל&#160;רתאה&#160;תלהנה&#160;תיאשר ן<br/>תורישב תוקספה&#160;וא&#160;תולקת לשב יוכיז/יפסכ יוציפ&#160;לכ ןתניי&#160;אל&#160;.ונוגראו&#160;ותקוזחת&#160;יכרוצל תעל&#160;תעמ רתאב</p>
            <p style="position:absolute;top:687px;left:108px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:687px;left:100px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:713px;left:794px;white-space:nowrap" class="ft01">11</p>
            <p style="position:absolute;top:713px;left:790px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:713px;left:783px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:713px;left:293px;white-space:nowrap" class="ft01">רתאה&#160;תלהנה&#160;לש םה&#160;רתאל&#160;רשקב םירצויה&#160;תויוכזו&#160;ינחורה&#160;ןיינקה&#160;תויוכז לכ</p>
            <p style="position:absolute;top:713px;left:289px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:713px;left:281px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:740px;left:794px;white-space:nowrap" class="ft01">12</p>
            <p style="position:absolute;top:740px;left:790px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:740px;left:783px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:740px;left:343px;white-space:nowrap" class="ft01">&#160;רמוח&#160;לכל&#160;וא&#160;&#34;םירנאב&#34;&#160;,תועדומ ןכותל&#160;תיארחא הניא&#160;רתאה&#160;תלהנה</p>
            <p style="position:absolute;top:740px;left:131px;white-space:nowrap" class="ft01">&#160;לע&#160;ךכל&#160;תוירחאה&#160;.רתאב ימוסרפ</p>
            <p style="position:absolute;top:766px;left:672px;white-space:nowrap" class="ft01">דבלב&#160;םימסרפמה</p>
            <p style="position:absolute;top:766px;left:667px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:766px;left:659px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:793px;left:794px;white-space:nowrap" class="ft01">13</p>
            <p style="position:absolute;top:793px;left:790px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:793px;left:783px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:793px;left:111px;white-space:nowrap" class="ft01">&#160;תניחבמ&#160;הלא םירתאב םינכתל&#160;הבורע&#160;םיווהמ&#160;םניא&#160;םירחא&#160;םירתאל&#160;)&#34;םיקניל&#34;( םירושיק&#160;לש&#160;םתואצמיה</p>
            <p style="position:absolute;top:819px;left:508px;white-space:nowrap" class="ft01">תרחא הניחב&#160;לכמ וא ,םתומלש ,םתונמיהמ</p>
            <p style="position:absolute;top:819px;left:503px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:819px;left:495px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:846px;left:794px;white-space:nowrap" class="ft01">14</p>
            <p style="position:absolute;top:846px;left:790px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:846px;left:783px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:846px;left:264px;white-space:nowrap" class="ft01">ב םיכמסומה&#160;טפשמה&#160;יתבל&#160;ויבגל&#160;טופישה תוכמס&#160;.ילארשיה&#160;ןידה&#160;לוחי&#160;ןונקתה&#160;לע</p>
            <p style="position:absolute;top:846px;left:209px;white-space:nowrap" class="ft01">םילשורי</p>
            <p style="position:absolute;top:846px;left:204px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:846px;left:196px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:893px;left:727px;white-space:nowrap" class="ft00"><b>ידמו תומורת</b></p>
            <p style="position:absolute;top:893px;left:608px;white-space:nowrap" class="ft00"><b>המורת לוטיב&#160;תוינ</b></p>
            <p style="position:absolute;top:893px;left:600px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:926px;left:802px;white-space:nowrap" class="ft01">1</p>
            <p style="position:absolute;top:926px;left:798px;white-space:nowrap" class="ft01">.&#160;</p>
            <p style="position:absolute;top:926px;left:686px;white-space:nowrap" class="ft01">&#160;הסרדמ&#34;&#160;תתומע</p>
            <p style="position:absolute;top:926px;left:676px;white-space:nowrap" class="ft01">–</p>
            <p style="position:absolute;top:926px;left:672px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:926px;left:484px;white-space:nowrap" class="ft01">&#160;.ע.מ &#34;)ר&#34;ע( תיברעל&#160;רפס&#160;תיב</p>
            <p style="position:absolute;top:926px;left:412px;white-space:nowrap" class="ft01">580616498</p>
            <p style="position:absolute;top:926px;left:408px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:926px;left:126px;white-space:nowrap" class="ft01">&#160;ףסכ םורתל&#160;הז רתא&#160;תועצמאב ךל&#160;תרשפאמ</p>
            <p style="position:absolute;top:946px;left:493px;white-space:nowrap" class="ft01">&#160;הריהמו&#160;החונ&#160;,הלק ךרדב התומעה&#160;תוליעפ&#160;תבוטל</p>
            <p style="position:absolute;top:946px;left:487px;white-space:nowrap" class="ft01">-</p>
            <p style="position:absolute;top:946px;left:483px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:946px;left:217px;white-space:nowrap" class="ft01">דחא םולשתב יארשא סיטרכב םלשל&#160;ןתינ</p>
            <p style="position:absolute;top:946px;left:126px;white-space:nowrap" class="ft01">&#160;ןתינ&#160;ןכ&#160;ומכו&#160;,</p>
            <p style="position:absolute;top:966px;left:702px;white-space:nowrap" class="ft01">&#160;תועצמאב םלשל</p>
            <p style="position:absolute;top:966px;left:632px;white-space:nowrap" class="ft01">PAYPAL</p>
            <p style="position:absolute;top:966px;left:628px;white-space:nowrap" class="ft01">.</p>
            <p style="position:absolute;top:966px;left:620px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:999px;left:802px;white-space:nowrap" class="ft01">2</p>
            <p style="position:absolute;top:999px;left:524px;white-space:nowrap" class="ft01">יארשא סיטרכ תועצמאב המורת ןתמ תעב .</p>
            <p style="position:absolute;top:999px;left:520px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:999px;left:246px;white-space:nowrap" class="ft01">ארשאה&#160;תרבח&#160;לומ סיטרכה&#160;תקידב עצבתת</p>
            <p style="position:absolute;top:999px;left:191px;white-space:nowrap" class="ft01">שלוגהו&#160;י</p>
            <p style="position:absolute;top:999px;left:187px;white-space:nowrap" class="ft01">&#160;</p>
            <p style="position:absolute;top:999px;left:181px;white-space:nowrap" class="ft01">י</p>
            <p style="position:absolute;top:999px;left:150px;white-space:nowrap" class="ft01">&#160;לבק</p>
            <p style="position:absolute;top:1019px;left:405px;white-space:nowrap" class="ft01">.התחדנ&#160;וא&#160;הלבקתה&#160;םאהו&#160;הקסעה&#160;בצמל&#160;רשאב תידיימ הבושת</p>
            <p style="position:absolute;top:1019px;left:401px;white-space:nowrap" class="ft00"><b>&#160;</b></p>
            <p style="position:absolute;top:1019px;left:391px;white-space:nowrap" class="ft00"><b>&#160;</b></p>
      </p>
    </section>
</main>
