<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle"> תודה על תרומתכם | Thanks for supporting us</%block>


<%block name="headextra">
<!-- Search Engine -->
<meta name="description" content="פחות מ-5% מהיהודים בישראל יודעים לנהל שיחה בסיסית בערבית מדוברת, אנחנו כאן כדי לשנות את זה. הסיפור שלנו מתחיל בסלון של ההורים של גילעד, בקיץ 2014">
<meta name="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="תודה על תרומתכם | Thanks for supporting us">
<meta itemprop="description" content="פחות מ-5% מהיהודים בישראל יודעים לנהל שיחה בסיסית בערבית מדוברת, אנחנו כאן כדי לשנות את זה. הסיפור שלנו מתחיל בסלון של ההורים של גילעד, בקיץ 2014">
<meta itemprop="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="תודה על תרומתכם | Thanks for supporting us">
<meta name="og:description" content="פחות מ-5% מהיהודים בישראל יודעים לנהל שיחה בסיסית בערבית מדוברת, אנחנו כאן כדי לשנות את זה. הסיפור שלנו מתחיל בסלון של ההורים של גילעד, בקיץ 2014">
<meta name="og:image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">

<style>
    #thank-for-support-section{
        padding-bottom:0;
        margin-bottom:0;
    }
    #title{
        font-size:65px;
        margin:0;
    }
    #sub-title{
        font-size:30px;
    }

#share-buttons{
    max-width:480px;
    margin:auto;
}
.share-button a{
    color:white;
    text-decoration:none;
    padding:8px 20px; 
    border-radius:8px;
    font-size:20px
}
.share-button a:hover{
    color:white;
}
.share-button a:active{
    color:white;
}
#facebook-button a{background-color:#385898;}
#email-button a{background-color:lightslategray;}
#whatsapp-button a{background-color:#48C658;}
</style>

</%block>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v3.3"></script>



<main id="main" aria-label="Content" tabindex="-1">

        <section id="thank-for-support-section" class="container about line-height text-center">
                <h1 id="title">גם אני תמכתי במדרסה!</h1>
                <p id="sub-title">שתפו את הבשורה ויחד נקדם את המהפכה</p>
                <p><a href="https://madrasafree.com/supportus">תמוך עכשיו</a></p>
   
        <div class="container row" id="share-buttons">
                <div class="col-4 share-button" id="facebook-button">
              

                    <a href="#"><i class="fa fa-facebook"></i> פייסבוק </a>
                   
                </div>
            <div class="col-4 share-button" id="whatsapp-button">
              

                    <a href="whatsapp://send?text=תמכו במדרסה: https://madrasafree.com/supportus" data-action="share/whatsapp/share"
                    ><i class="fa fa-whatsapp"></i> וואטסאפ </a>
               
            </div>
            <div class="col-4 share-button" id="email-button">
                    <a href="#"
                    ><i class="fa fa-envelope"></i> מייל </a>
            </div>

        </div>
    </section>
	
</main>
	
<!-- smooth scroll JS -->
<script src="/static/marvel/js/smooth-scroll.js"></script>
<script>

</script>