<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle"> תודה על תרומתכם | Thanks for supporting us</%block>


<%block name="headextra">
<!-- Search Engine -->
<meta name="description" content="פחות מ-5% מהיהודים בישראל יודעים לנהל שיחה בסיסית בערבית מדוברת, אנחנו כאן כדי לשנות את זה. הסיפור שלנו מתחיל בסלון של ההורים של גילעד, בקיץ 2014">
<meta name="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="תודה על תרומתכם | Thanks for supporting us">
<meta itemprop="description" content="פחות מ-5% מהיהודים בישראל יודעים לנהל שיחה בסיסית בערבית מדוברת, אנחנו כאן כדי לשנות את זה. הסיפור שלנו מתחיל בסלון של ההורים של גילעד, בקיץ 2014">
<meta itemprop="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="תודה על תרומתכם | Thanks for supporting us">
<meta name="og:description" content="פחות מ-5% מהיהודים בישראל יודעים לנהל שיחה בסיסית בערבית מדוברת, אנחנו כאן כדי לשנות את זה. הסיפור שלנו מתחיל בסלון של ההורים של גילעד, בקיץ 2014">
<meta name="og:image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">

</%block>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v3.3"></script>



<main id="main" aria-label="Content" tabindex="-1">

        <section class="container about line-height text-center">
                <h1>גם אני תמכתי במדרסה</h1>
                <p>שתפו את הבשורה ויחד נקדם את המהפכה</p>
   
        <div class="container row share-buttons" style="max-width:700px;margin:auto">
            <div class="col-4 share-button">
                    <div class="fb-share-button" data-href="https://madrasafree.com/supportus" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmadrasafree.com%2Fsupportus&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                    שתפו בפייסבוק
                    </a></div>
            </div>
            <div class="col-4 share-button">
              

                    <a href="whatsapp://send?text=http://https://madrasafree.com/supportus" 
                    ><button btn style="background:#25D366;color:white;border:none"><i class="fa fa-whatsapp"></i>שתפו בוואטסאפ</button></a>
               
            </div>
            <div class="col-4 share-button">
                    <a href="#"
                    ><button btn style="background:#ED2939;color:white;border:none"><i class="fa fa-envelop"></i>שתפו במייל</button></a>
            </div>

        </div>
    </section>
	
</main>
	
<!-- smooth scroll JS -->
<script src="/static/marvel/js/smooth-scroll.js"></script>