## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<footer class="theme-footer">
  <div class="theme-footer_holder theme-footer_holder__color">
    <div class="theme-footer_wrapper">
      
        <div class="theme-footer_col">
            <h2 class="theme-footer_col-header"><a class="theme-footer_col-header" href="/contact">אודות</a></h2>
        </div>
        <div class="theme-footer_col">
            <h2 class="theme-footer_col-header"><a class="theme-footer_col-header" href="/community">הקהילה הלומדת</a></h2>
        </div>
        <div class="theme-footer_col">
            <h2 class="theme-footer_col-header"><a class="theme-footer_col-header" href="/supportus">תומכים ושותפים</a></h2>
        </div>
        <div class="theme-footer_col">
            <h2 class="theme-footer_col-header"><a class="theme-footer_col-header" href="/contact">שירותי שפה</a></h2>
        </div>
        <div class="theme-footer_col">
            <h2 class="theme-footer_col-header"><a class="theme-footer_col-header" href="/about">אודות</a></h2>
        </div>



        <div class="theme-footer_col">
          <a class="theme-footer_col-header" href="/about" target="_blank">על מדרסה</a>
        </div>
        <div class="theme-footer_col">
          <a class="theme-footer_col-header" href="/community" target="_blank">קהילה</a>  
        </div>
        <div class="theme-footer_col">
          <a class="theme-footer_col-header" href="/supportus" target="_blank">תמכו בנו</a>
        </div>
        <div class="theme-footer_col">
            <a class="theme-footer_col-header" href="/contact" target="_blank"> אייקון פייסבוק </a>
          </div>
          <div class="theme-footer_col">
              <a class="theme-footer_col-header" href="/tos" target="_blank"> תנאי שימוש ותקנון</a>
            </div>
        <div class="theme-footer_col">
            <a class="theme-footer_col-header" href="/contact" target="_blank"> צור קשר</a>
          </div>
          <div class="theme-footer_col">
              <a class="theme-footer_col-header" href="/contact" target="_blank"> חיפוש </a>
            </div>
            <div class="theme-footer_col">
                <a class="theme-footer_col-header" href="/contact" target="_blank">  עיגול</a>
              </div>
  </div>
  </div>
</footer>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif