<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
  <section class="home">
    <section class="promo-box">
      <div class="promo-box_wrapper">
        <div class="promo-box_helper"></div>
        <div class="promo-box_holder">
          <span class="promo-box_heading"> مَرْحَبَا! מרחבא!
            <br>
            ברוכים הבאים לבית החדש של מדרסה.
          </span>
          <h1 class="promo-box_text"> לימוד ערבית מדוברת חינם, לכולם.</h1>
          <a class="theme-btn theme-btn__invert" href="/courses">בוא.י נתחיל ללמוד </a>
        </div>
      </div>
    </section>
    <section class="features">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>
    </section>
    <section class="statistics">
    </section>
    <section class="qoute">
    </section>
    <section class="press">
    </section>
    <section class="supporters">
        <div class="container">
            <div class="row">
              <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="fa fa-facebook"></i>
                  </div>
                  <h3>25,000</h3>
                  <p class="lead mb-0"> עוקבים בפייסבוק </p>
                  <a class="btn btn-warning">LIKE</a>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                      <i class="fas fa-graduation-cap"></i>
                  </div>
                  <h3>170,000</h3>
                  <p class="lead mb-0">תלמידים</p>
                  <a class="btn btn-warning">התחל.י ללמוד</a>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                      <i class="far fa-comments"></i>
                  </div>
                  <p class="lead mb-0">5,300</p>
                  <h3>הצטרפ.י</h3>
                  <a class="btn btn-warning"></a>
                </div>
              </div>
              <div class="col-lg-3">
                  <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="far fa-newspaper"></i>
                    </div>
                    <h3>5000</h3>
                    <p class="lead mb-0">רשומים לניוזלטר</p>
                    <a class="btn btn-warning">הרשמ.י</a>
                  </div>
                </div>
            </div>
          </div>
    </section>
    <section class="story">
    </section>
    <section class="instagram">
    </section>

</main>

<style>
.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
  .features-icons-item {
    max-width: 20rem;
    .features-icons-icon {
      height: 7rem;
      i {
        font-size: 4.5rem;
      }
    }
    &:hover {
      .features-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
}
</style>
<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif