<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <section class="promo-box">
        <div class="promo-box_wrapper">
          <div class="promo-box_helper"></div>
          <div class="promo-box_holder">
            <span class="promo-box_heading">   مَرْحَبَا! מרחבא!
              <br>
              ברוכים הבאים לבית החדש של מדרסה.
              </span>
            <h1 class="promo-box_text">  לימוד ערבית מדוברת חינם, לכולם.</h1>
            <a class="theme-btn theme-btn__invert" href="/courses">בוא.י נתחיל ללמוד </a>
          </div>
        </div>
      </section>
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
          </div>
        </div>
      <!-- <section class="theme-courses_wrapper">
        <h1 class="theme-courses_heading">הקורסים שלנו</h1>
          <section class="theme-courses">
            <%include file="${courses_list}" />
          </section>
      </section>
    </section> -->
</main>


<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
