<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>



<main id="main" aria-label="Content" tabindex="-1">
  <section class="home">
    <section class="promo-box">
      <div class="promo-box_wrapper">
        <div class="promo-box_helper"></div>
        <div class="promo-box_holder">
          <span class="promo-box_heading"> مَرْحَبَا! מרחבא!
            <br>
            ברוכים הבאים לבית החדש של מדרסה.
          </span>
          <h1 class="promo-box_text"> לימוד ערבית מדוברת חינם, לכולם.</h1>
          <a class="theme-btn theme-btn__invert" href="/courses">בוא.י נתחיל ללמוד </a>
        </div>
      </div>
    </section>
    <section class="features">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>
    </section>
    <section class="statistics">
    </section>
    <section class="qoute">
        <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
    </section>
    <section class="press">
    </section>
    <section class="supporters">
        <div class="container">
          <div class="row">
            <h3>בשביל ללמוד שפה לא מספיק קורס מעולה, כי אי אפשר ללמוד לתקשר מבלי... לתקשר</h3>
            <h5>את התכנים שתלמדו בקורס תוכלו לתרגל יחד עם הקהילה של מדרסה מכל מקום ובכל מקום</h5>
          </div>
            <div class="row">
              <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="fa fa-facebook fa-4x	"></i>
                  </div>
                  <h3>25,000</h3>
                  <p class="lead mb-0"> עוקבים בפייסבוק </p>
                  <a class="btn btn-warning fa-4x	">LIKE</a>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                      <i class="fa fa-graduation-cap fa-4x	"></i>
                  </div>
                  <h3>170,000</h3>
                  <p class="lead mb-0">תלמידים</p>
                  <a class="btn btn-warning">התחל.י ללמוד</a>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                      <i class="fa fa-comments fa-4x	"></i>
                  </div>
                  <p class="lead mb-0">5,300</p>
                  <h3>חברים בקבוצת תרגול</h3>
                  <a class="btn btn-warning">הצטרפ.י</a>
                </div>
              </div>
              <div class="col-lg-3">
                  <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-newspaper-o fa-4x	"></i>
                    </div>
                    <h3>5000</h3>
                    <p class="lead mb-0">רשומים לניוזלטר</p>
                    <a class="btn btn-warning">הרשמ.י</a>
                  </div>
                </div>
            </div>
          </div>
    </section>
    <section class="story">
    </section>
    <section class="instagram">
    </section>

</main>


<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif