.theme-header {
    width: 100%;
    height: auto;
    border: none;
    box-shadow: none;
    @media all and (max-width: 859px) {
        // display: none;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        padding: 15px;
        .theme-main-nav__open & {
            display: flex;
            justify-content: center;
        }
    }
    @media all and (max-width: 450px) {
        flex-direction: column;
    }
	.navbar-toggler {
		background-image: none;
		background-color: #85c559;
		box-shadow: none;
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z' /%3E%3C/svg%3E");
		}
	}
	input[type="submit"]:active:not(:disabled), input[type="submit"]:focus:not(:disabled), input[type="button"]:active:not(:disabled), input[type="button"]:focus:not(:disabled), button:active:not(:disabled), button:focus:not(:disabled), .button:active:not(:disabled), .button:focus:not(:disabled) {
		box-shadow: none;
	}
	input[type="submit"]:hover:not(:disabled), input[type="button"]:hover:not(:disabled), button:hover:not(:disabled), .button:hover:not(:disabled) {
		background-image: none;
		background-color: #85c559;
		box-shadow: none;
	}
}